rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /guests/{guest} {
      allow write: if request.resource.data.keys().hasOnly(['ref', 'id', 'booking', 'name', 'email', 'phone', 'requests', 'createdAt']);
    }
  }
}